extends ../../common.pug

block body
   if error
    each error1 in error
      .alert.alert-danger.alert-dismissible.fade.show(role='alert')
        strong=error1
        button.close(type='button', data-dismiss='alert', aria-label='Close')
         span(aria-hidden='true') &times;
   .container
    h1 New users
    form(action="/users/create", method="POST")
      .form-group
        label( for="name") Name
        .d-flex
          input#name(type="text" class="form-control" placeholder="Enter new user..." name="name" value= value ? value : "" )
        label( for="pasword") Password
        .d-flex
          input#name(type="text" class="form-control" placeholder="Enter new user..." name="password" value= value ? value : "" )
          button(class="btn btn-primary ml-3") Create
    a(href = "http://localhost:3000/users") Back to Users
    br
    a(href = "http://localhost:3000/") Back to Home
    br
    a(href = "http://localhost:3000/users/create") New User
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
