html
  head
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
   title= title
  body
   nav.navbar.navbar-expand.navbar-dark.bg-primary   
      a.navbar-brand(href='/') User
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse.d-flex.justify-content-end
          a(href="/auth/login")
            if !user1
              button.ml-auto(class="btn my-2 my-sm-0") Login
            else
              button.ml-auto(class="btn my-2 my-sm-0")=user1.name

block body