html
  head
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
   title= title
  body
   h1 Welcome to my user
   a(href = "/users") Go to users
   br
   
  